.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 35px;
    padding: 5% 5%;
    overflow-x: hidden;
}



   /* Media Query for Mobile Devices */
   @media (max-width: 480px) {
    .home{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 4% 4%;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        padding: 2% 2%;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .home{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        padding: 2% 2%;
    }
}
  
